<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'hello')}">
<body>
  <br>
  <br>
  <br>
  <div class="container">
    <h1 th:text="Hello World, and hello Mastercard Interviewers!"/>
  </div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZlPkGflFRn0" style="display: block; margin: auto;" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</body>
</html>